
{% extends "delivery/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="page-section bg-primary text-white mb-0">
      <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Order Description</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Order</button>
            </div>
        </form>
      </div>
</section>
{% endblock content %}