{% extends 'delivery/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="page-section bg-primary text-white mb-0" id="register">
            <div class="container">
                <!-- About Section Heading-->
                <form class="form-signin" method="POST">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 font-weight-normal">Join Us Today</h1>
                    {{ form|crispy }}
                    <button class="btn btn-xl btn-outline-light" type="submit"> Login </button>
                </form>
                <p>Do not have an Account? <a href="{% url 'register' %}" style="color: black;"> Sign Up Now!</a></p>
            </div>
        </section>

{% endblock content %}