{% extends "delivery/base.html" %}
{% block content %}
<section class="page-section bg-primary text-white mb-0" id="register">
      <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-white">Order {{ object.id }} Details</h2>
            <h2 style="color: white;">Customer Name :  {{ object.name }}</h2>
            <small class="text-muted">Catering Date:  {{ object.cateringDate|date:"F d, Y" }}</small>
            <p class="article-content">Order Source : {{ object.orderSource }}</p>
            <p class="article-content">House Account : {{ object.houseAccount }}</p>
            <p class="article-content">Address : {{ object.address }}</p>
            <p class="article-content">Mobile : {{ object.mobile }}</p>
              <p class="article-content">Mobile : {{ object.mobile }}</p>
              <p class="article-content">Delivery Driver : {{ object.deliverydriver }}</p>
              <p class="article-content">Delivery Time : {{ object.deliverytime }}</p>
              <p class="article-content">Special Instruction : {{ object.specialInstruction }}</p>
              <p class="article-content">Catering Amount : {{ object.cateringAmount }}</p>
              <p class="article-content">Delivery Fee : {{ object.deliveryFee }}</p>
              <p class="article-content">Tips : {{ object.tips }}</p>
              <p class="article-content">Sales Tax : {{ object.salesTax }}</p>
              <p class="article-content">Customer Feedback : {{ object.customerFeedBack }}</p>
              <p class="article-content">Delivery Status : {{ object.deliveryStatus }}</p>
              <p class="article-content">Customer Payment Status : {{ object.customerPaymentStatus }}</p>
              <p class="article-content">Employee Payment Status : {{ object.employeePaymentStatus }}</p>
              <p class="article-content">Commission Amount : {{ object.commissionAmount }}</p>
              <p class="article-content">Commission Status : {{ object.commissionStatus }}</p>
              <p class="article-content">Estimated Delivery : {{ object.estimatedDelivery }}</p>


            {% if user.is_staff %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delivered</a>
            </div>
            {% endif %}
      </div>
</section>

{% endblock content %}